.form {
    z-index: 1;
    width: 700px;
    background:
        radial-gradient(#a3a3a3 3px, transparent 4px),
        radial-gradient(#a3a3a3 3px, transparent 4px),
        linear-gradient(#a3a3a3 3px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #fff 75px, #ffe 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #fff 76px, #ffe 77px, transparent 78px, transparent 109px),
        #a4a4a4;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}